templates/KrakenQA To SQL/KrakenQA To SQL.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"MySQLDatabase": {
			"type": "string"
		},
		"KrakenDB": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/KrakenQA To SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MongoToSQL",
						"description": "Copy data from MongoDB to SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ClearMongoData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MongoDbV2Source",
								"batchSize": 100
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['_id']"
										},
										"sink": {
											"name": "Id"
										}
									},
									{
										"source": {
											"path": "$['Doc']['schemaDef']['name']"
										},
										"sink": {
											"name": "Name"
										}
									},
									{
										"source": {
											"path": "$['Doc']['schemaDef']['isPublished']"
										},
										"sink": {
											"name": "IsPublished"
										}
									},
									{
										"source": {
											"path": "$['Doc']['isDeleted']"
										},
										"sink": {
											"name": "IsDeleted",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['Doc']['lastModified']"
										},
										"sink": {
											"name": "LastModified",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"path": "$['Doc']['lastModifiedBy']"
										},
										"sink": {
											"name": "LastModifiedBy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Doc']['created']"
										},
										"sink": {
											"name": "Created",
											"type": "DateTimeOffset"
										}
									},
									{
										"source": {
											"path": "$['Doc']['createdBy']"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Doc']['appId']"
										},
										"sink": {
											"name": "AppId"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "KrakenQASchemas",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "QASchemas",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "SplitAppId",
						"description": "Split AppId for table into AppId and AppName",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "MongoToSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SplitAppId]",
							"storedProcedureParameters": {
								"tableName": {
									"value": "ContentTypes",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('MySQLDatabase')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ClearMongoData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[ClearMongoData]",
							"storedProcedureParameters": {
								"tableName": {
									"value": "ContentTypes",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('MySQLDatabase')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/KrakenQASchemas')]",
				"[concat(variables('factoryId'), '/datasets/QASchemas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KrakenQASchemas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Content Types (Schemas) for KrakenQA DB",
				"linkedServiceName": {
					"referenceName": "[parameters('KrakenDB')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MongoDbV2Collection",
				"schema": [],
				"typeProperties": {
					"collection": "States_Schemas"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/QASchemas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('MySQLDatabase')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "nvarchar"
					},
					{
						"name": "AppId",
						"type": "nvarchar"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "IsPublished",
						"type": "bit"
					},
					{
						"name": "IsDeleted",
						"type": "bit"
					},
					{
						"name": "Created",
						"type": "datetimeoffset",
						"scale": 7
					},
					{
						"name": "CreatedBy",
						"type": "nvarchar"
					},
					{
						"name": "LastModifiedBy",
						"type": "nvarchar"
					},
					{
						"name": "LastModified",
						"type": "datetimeoffset",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContentTypes"
				}
			},
			"dependsOn": []
		}
	]
}